# {{ project_title }}

{{ package_short_description }}


## Installing {{ project_name }}
The quickest way to install {{ project_name }} for users is from PyPi:

```bash
pip install {{ project_slug }}
```

If you would like to install and run {{ project_name }} from source, we recommend using [pixi](https://pixi.sh/latest/):


```bash
git clone {{ repository }}.git; cd {{ project_name }}
pixi run {{ project_slug }}
```

For detailed instructions, see the installation documentation.

## Quick start


## Development
Please see the Development Guidelines if you wish to contribute code
to this repository.
