name: Release Wheels

permissions: write-all

on:
  release:
    types: [created, published]

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          frozen: true
          cache: true
          cache-write: false
          environments: dev

      - name: Build and publish to PyPi
        env:
            TWINE_USERNAME: __token__
            TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: pixi run -e dev upload-wheels

      # if it matches a Python release tag, upload to github releases
      - name: Release
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: dist/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
